{% if messages %}
<ul>
    {% for message in messages %}
    <li> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<br>
<div>
    <a role="button" href="{% url 'order_create' %}">Create a new order</a>
</div>
<br>
<hr>
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Поиск</button>
</form>
<hr>
<br>
<h1>Список заказов</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер стола</th>
            <th>Блюда</th>
            <th>Общая стоимость</th>
            <th>Статус</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for order in filter.qs %}
            <tr>
                <td><a href="{% url 'order_detail' order.id %}">{{ order.id }}</a></td>
                <td>{{ order.table_number }}</td>
                <td>
                    <ul>
                        {% for order_item in order.order_items.all %}
                        <li>
                            {{ order_item.item.name }} ({{ order_item.quantity }} x {{ order_item.item.price }})
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ order.total_price }}</td>
                <td>{{ order.get_status_display }}</td>
                <td><a href="{% url 'order_update' order.id %}">edit</a></td>
                <td><a href="{% url 'order_delete' order.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
