{% if messages %}
<ul>
    {% for message in messages %}
    <li> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

<br>
<div>
    <a role="button" href="{% url 'item_create' %}">Create a new item</a>
</div>
<br>
<hr>
<div>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
          {% for item in item_list %}
          <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
          {% endfor %}
        </tbody>
      </table>
</div>